---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import ContactForm from "../components/ContactForm.astro";
import SectionHeading from "../components/SectionHeading.astro";
import { appRoutes } from "../config/url.const";
import Layout from "../layouts/Layout.astro";

const breadcrumbs = [
    { label: "Home", linkTo: appRoutes.base },
    { label: "Contact" },
];
---

<Layout title="Contact" styles="p-4">
    <nav aria-label="breadcrumbs" class="py-2">
        <Breadcrumbs breadcrumbs={breadcrumbs} />
    </nav>
    <article>
        <section>
            <SectionHeading class="font-bold uppercase md:text-xl" heading="Contact" />
            <p class="mt-2 mb-6 font-light md:text-lg">
                Wens je een vrijblijvende offerte te ontvangen of heb je een vraag? Stuur ons een berichtje en we helpen je
                graag verder!
            </p>
            <ContactForm />
        </section>
    </article>
</Layout>