---
import PrimaryActionLink from '../components/PrimaryActionLink.astro';
import SecondaryActionLink from '../components/SecondaryActionLink.astro';
import SectionHeading from '../components/SectionHeading.astro';
import { appRoutes } from '../config/url.const';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tasted - Home">
	<article>
		<aside class="bg-vineyard-445w h-[30vh] rounded-br-[60px] flex flex-col px-4">
			<p class=" text-white font-bold text-xl mt-auto mb-4 leading-7">
				Ontdek samen met Tasted de wereld van wijnen & spirits.
			</p>
		</aside>
		<section class="px-4 mt-8">
			<SectionHeading heading="Never lose your spirit" />
			<p class="font-light leading-7 mt-4">
				Tasted verzorgt uw <span class="font-bold">wijn- en spiritstastings op maat</span>. Altijd al meer willen weten over wijn? Fan van een lekker glas whisky of rum, maar geen idee waar te beginnen? Ontdek onze mogelijkheden en samen maken we er een heerlijke ervaring van. 
				Heb je een vraag of wens je een vrijblijvende offerte? Stuur ons een berichtje en wij nemen spoedig contact met je op.
			</p>
			<div class="flex flex-col gap-y-4 my-8">
				<PrimaryActionLink label="Bekijk de tastings" redirectTo={appRoutes.tastings.base} />
				<SecondaryActionLink label="Contacteer ons" redirectTo={appRoutes.contact} />
			</div>
		</section>
		<section class="bg-rose-secondary rounded-tr-[60px] rounded-br-[60px] p-4 my-8">
			<SectionHeading heading="Ons verhaal" />
			<p class="font-light leading-7 mt-4">
				Gebeten door lekker eten en drinken, ben ik sinds vele jaren op zoek naar kwaliteit. 
				Die zoektocht bracht me bij de wereld van wijnen en spirits. Initieel ontwikkelde zich een focus op whisky en in het bijzonder Schotse single malt. 
				Het duurde echter niet lang of ook ander lekkers kwam in het vizier. De interesse veranderde in passie en ondertussen heb ik me reeds meer dan tien jaar verdiept 
				en bijgeschoold in de wereld van spirits en wijnen. 
			</p>
		</section>
	</article>
</Layout>
