---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<div class="bg-vineyard-445w h-[30vh] rounded-br-[75px] flex flex-col p-6">
		<span class="mt-auto text-white font-bold text-xl leading-loose">
			Ontdek samen met Tasted de wereld van wijnen & spirits.
		</span>
	</div>
	</main>
</Layout>
