---
import Breadcrumbs from '../components/Breadcrumbs.astro';
import SectionHeading from '../components/SectionHeading.astro';
import { appRoutes } from '../config/url.const';
import Layout from '../layouts/Layout.astro';

const breadcrumbs = [
    {
        label: 'Home',
        linkTo: appRoutes.base
    },
    {
        label: 'Tastings',
    }
]
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="bg-rose-secondary rounded-br-[75px] p-4">
            <Breadcrumbs breadcrumbs={breadcrumbs} />
			<SectionHeading heading="Ready, set... Taste!" />
			<p class="mt-3 font-light leading-7">
				Tasted verzorgt uw wijn- en spiritstastings op maat. Altijd al meer willen weten over wijn?
                Fan van een lekker glas whisky of rum, maar geen idee waar te beginnen? Ontdek ons gevarieerd aanbod!
			</p>
		</section>	
    </main>
</Layout>
