---
const { label, redirectTo } = Astro.props as { label: string, redirectTo: string };
---

<a class="border border-rose-primary text-rose-primary rounded-md flex justify-center py-3 shadow-md cursor-pointer md:px-4" href={redirectTo}>
    { label }
</a>