---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SEO } from "astro-seo";

const title =
    "Ontdek samen met Tasted de wereld van wijnen & spirits";
const description =
	"Tasted verzorgt uw wijn- en spiritstastings op maat. Altijd al meer willen weten over wijn? Fan van een lekker glas whisky of rum, \n\
    maar geen idee waar te beginnen? Ontdek de mogelijkheden en samen maken we er een heerlijke ervaring van. Heb je een vraag of wens je een vrijblijvende offerte? Stuur ons een berichtje en wij nemen spoedig contact met je op."

    const { seoDescription, styles } = Astro.props as { seoDescription?: string, styles?: string }
---

<!DOCTYPE html>
<html lang="en" class="h-full w-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={seoDescription ?? description} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={title}
            description={seoDescription ?? description}
            twitter={{
                creator: "@jnsbne",
            }}
            extend={{
                link: [{ rel: "icon", href: "/favicon.ico" }],
            }}
        />
        <title>{title}</title>
    </head>
    <body class="flex flex-col max-w-[768px] m-auto h-full w-full">
        <Header />
        <main class={`${styles ? styles : ''} text-slate-700`}>
            <slot />
        </main>
        <Footer />
    </body>
</html>